* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.sidebar {
  position: absolute;
  padding: 10px;
  padding-left: 20px;
  border-right: 1px solid #ccc;
  width: 90px;
  height: 100%;
}

.sidebar div {
  margin-bottom: 10px;
}

main {
  height: 100%;
  width: calc(100% - 90px);
  float: right;
  padding: 20px 30px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

p {
  margin-bottom: 10px;
}
