<div style="text-align: align">
  <h1>About</h1>
  <div>Check Out the Socials</div>
  <hr />
  <div class="socials-container">
    <a
      href="https://www.youtube.com/channel/UC6pFfiYWbtNkU-u2ZXUfzZw"
      class="socials-card"
      target="_blank"
    >
      <span>YouTube</span>
    </a>
    <a
      href="https://github.com/mitchwadair"
      class="socials-card"
      target="_blank"
    >
      <span>GitHub</span>
    </a>
    <a href="https://twitter.com/imMtB_" class="socials-card" target="_blank">
      <span>Twitter</span>
    </a>
  </div>
</div>
